.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-split-wrapper {
  display: flex;
  width: 90%;
  max-width: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-image-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  padding: 40px 20px;
}
.login-logo-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  object-fit: contain;
}

.logo-text {
  font-size: 2.2em;
  font-weight: 700;
  color: #01035d;
}
.login-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 40px;
  padding-top: 50px;
}

.login-box h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}

.login-box .login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #c9d0d8;
  border-radius: 6px;
  box-sizing: border-box;
}

.login-box .login-button {
  width: 100%;
  padding: 12px;
  background: #01035d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-box .login-button:hover {
  background: #00014a;
}

.login-error-message {
  background-color: #fcebeb;
  color: #c0392b;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e74c3c;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  transform: translateY(20px);
  z-index: 10;
}

@media (max-width: 768px) {
  .login-split-wrapper {
    max-width: 90%;
    height: auto;
  }
  .login-image-column {
    display: none;
  }
}
