.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal-cover-image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-title {
  font-size: 1.3em;
  color: #01035d;
  margin: 10px 0 5px 0;
}
.modal-singer {
  font-size: 1em;
  color: #000132;
  margin: 10px 0 5px 0;
}
.save-rating-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #01035d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
.save-rating-button:hover {
  background-color: #00014a;
}

.rating-interaction-area {
  margin-top: 15px;
  text-align: center;
}
.rating-label {
  margin-bottom: 5px;
  color: #555;
  font-weight: 500;
}
