.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.8em;
  font-weight: 700;
  color: #01035d;
  letter-spacing: -0.5px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.logout-button {
  background: none;
  color: #ab0909;
  border: none;
  padding: 0;
  margin-left: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.logout-button:hover {
  text-decoration: underline;
}
