.star-rating-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.star {
  font-size: 18px;
  margin: 0 1px;
}

.star.filled {
  color: gold;
}

.star.empty {
  color: #ccc;
}

.star.half-filled {
  color: transparent;
  background: linear-gradient(to right, gold 50%, #ccc 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
